<nav class="nav-bar">
  <a href="/">Rydge's Auto Parts</a>
  <ul>
    <li>
      <a href=".">Home</a>
    </li>
    <li>
      <a href="/catalog/parts_list">Parts</a>
    </li>
    <li>
      <a href="/catalog/categories">Categories</a>
    </li>
  </ul>
</nav>
