<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head'); %>
  </head>
  <header><%- include('../views/components/header'); %></header>
  <body>
    <main>
      <h1><%= category.name %></h1>
      <section><%- include('../views/components/parts_list'); %></section>
    </main>
  </body>
</html>
