<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head'); %>
  </head>
  <header><%- include('../views/components/header'); %></header>
  <body>
    <main class="main-index">
      <h1>Welcome to Rydge's Auto Parts</h1>
      <p>
        Select Parts or Categories from the navigation bar to browse our
        selection.
      </p>
    </main>
  </body>
</html>
