<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head'); %>
  </head>
  <header><%- include('../views/components/header'); %></header>
  <body>
    <p>Select a Category or Vehicle to browse parts.</p>
  </body>
</html>
