<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head'); %>
  </head>
  <header><%- include('../views/components/header'); %></header>
  <body>
    <main>
      <h1>
        <%= 'Delete' + ' ' + vehicle.manufacturer + ' ' + vehicle.model + '?' %>
      </h1>
      <p class="center-text">Are you sure you want to delete this vehicle?</p>
      <div class="flex-wrapper">
        <form method="post">
          <fieldset class="hidden">
            <input
              hidden
              type="text"
              name="vehicleId"
              value="<%= vehicle._id %>"
            />
          </fieldset>
          <button>Delete</button>
        </form>
      </div>
    </main>
  </body>
</html>
