<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head'); %>
  </head>
  <header><%- include('../views/components/header'); %></header>
  <body>
    <main>
      <h1>Parts by Vehicle</h1>
      <section>
        <ul class="part-ul">
          <% vehicle_list.forEach(function(vehicle) { %>
          <li>
            <div class="part-card">
              <ul>
                <li><strong><%= vehicle.manufacturer %></strong></li>
                <li><%= vehicle.model %></li>
              </ul>
            </div>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>
  </body>
</html>
