@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  list-style: none;
}

main {
  padding: 50px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: black;
  color: white;
}

.nav-bar ul {
  display: flex;
  gap: 4px;
}

.nav-bar ul li {
  padding: 4px 16px;
}

.nav-bar ul li:hover {
  background-color: rgb(197, 89, 89);
}

a {
  text-decoration: none;
  color: white;
}

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 16px;
}

.main-index * {
  text-align: center;
}

.part-card,
.category-card {
  padding: 16px;
}

.part-card {
  border: 1px solid black;
  width: clamp(350px, 400px, 500px);
  max-height: 250px;
}

.part-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 48px;
}

.part-ul li {
  padding: 4px;
}

h1 {
  text-align: center;
}

.detail-link {
  color: rgb(197, 89, 89);
  font-weight: 600;
}

.detail-link:hover {
  text-decoration: underline;
}
